*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(161, 161, 161);
}
nav{
    background-color: black;
}
.right{
    text-align: right;
}
li{
    display: inline-block;
    padding: 9px;
    border: 1px solid #ffffff;
    margin: 8px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: black;
}
li:hover{
    text-decoration: underline;
    color: black;
    background-color: #ffffff;
    
}
.js-learn{
    width: 300px;
    margin: 100px auto;
}
#color{
    width: 200px;
    height: 300px;
    border: 0px solid #ccc;
}