*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0.5rem;
}
nav{
    margin: 0 auto 1rem;
    border: 2px solid black;
    border-radius: 2rem;
    line-height: 7rem ;
    max-width: 600px;
    font-size: 3rem;
}
h2{
    padding: 1rem;
    background-color: rgb(255, 239, 18);
    border-radius: 2rem 2rem 0 0;
}
li{
    list-style-type: none;
    border-top: 1px solid black;
    color:rgb(78, 78, 78);
}
li a{
    text-decoration: none;
    display: block;
}
li:nth-child(5) a{
    border-radius: 0 0 2rem 2rem;
}
li a:visited{
    color: rgb(78, 78, 78);
}
li a:hover{
    background:rgb(78, 78, 78);  
    color:whitesmoke; 
}