@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 40px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
nav h4{
    color: rgb(0, 185, 185);
}
nav a{
    text-decoration: none;
    color: #000;
}
.backGround{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    color: red;
}
.bgColor{
    background-color: black;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.colorname{
    color: rgb(26, 125, 255);
}

.clickMe{
    width: 100px;
    height: 45px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0);
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    font-family:Roboto;
}
  

 .green{
    background-color: greenyellow;
 }

 .orange{
    background-color: orange;
 }